body {
    background-color: chocolate;
}
h1 {
    display: block;
    font-size: xx-large;
    background-color: aqua;
}
.par1{
    display: block;
    background-color: bisque;
}
h2 {
    background-color: blueviolet;
}
.par2{
    display: block;
    background-color: rgb(196, 225, 255);
}
#item-1 {
    background-color: rgba(1, 91, 1, 1);
}
#item-2 {
    background-color: rgba(1, 91, 1, 0.8);
}
#item-3 {
    background-color: rgba(1, 91, 1, 0.6);
}
#item-4 {
    background-color: rgba(1, 91, 1, 0.4);
}
#item-5 {
    background-color: rgba(1, 91, 1, 0.2);
}